
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins',sans-serif;
}
:root{
    --background-conteiner: #3a3937;
    --background-conteiner-cajas: #7f7c7c;
    --color-text: #ffffff;
    --color-bottom: #19cd64;
}
    body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--background-conteiner) 15%, #a3a2a267 50%, #a3a2a267 50%, var(--background-conteiner) 85%);




    }
    .container{
        max-width: 400px;
        height: 40vh;
        width: 100%;
        background: var(--background-conteiner-cajas);
        padding: 25px 30px;
        border-radius: 5px;
        justify-content: center;
        text-align: center;

    }
    .container .container_title{
        font-size: 25px;
        font-weight: bold;
        color: var(--color-text);
       

    }

    .container .form {

        flex-direction: column;
        place-items: center;
        justify-content: center;
        margin: 40px  0;

    }
.form input{
    display: flex;
        height: 45px;
        width: 80%;
        outline: none;
        border: none;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;

    }
    
    form .button{

        display: flex;
        margin: 0 auto;
        margin-bottom: 5px;
        margin-top: 25px;
        text-align: center;
        justify-content: center;
        width: 40%;
        border: none;
        cursor: pointer;
        color: var(--color-text);
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
       background-color: var(--color-bottom);
       

    }
    form .button:hover{
        color: #000000;
    }
     .form > a {
         position: absolute;
         text-align: initial;
     }
     .form a + a {
        background-color: #3a3937;
         position: relative;
         text-align: end;
         padding: 8px;
         border-radius: 5px;
     }
     .form  a{
        text-decoration: none;
        padding: 0 20px;
        display: inline-block;
        font-weight: bold;
        font-size: 20px;
        margin: 20px 0;
        color: var(--color-text);
       

    }
    .form  a:hover{
        color: #000000;
    }